<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../views/join.css" />
</head>

<body>
    <div id="all">
        <div id="head">
            <div id="head-nav">
                <div id="head-nav-left">
                    <a href="../views/B1.html"> <img id="bilibili" src="../resource/bilibili.png"></a>
                    <span id="zhuzhan">主站ˇ</span>
                    <span>番剧</span>
                    <span>游戏中心</span>
                    <span>直播</span>
                    <span>会员购</span>
                    <span id="cartoon">漫画</span>
                    <span>赛事</span>
                    <span>下载APP</span>
                </div>
                <span id="search">
                    <input type="text" placeholder="search..." id="search-">
                    <input type="button" value="o">
                </span>
                <div id="head-nav-right">
                    <div id="enter">
                        <span><img id="head-logo1" src="../resource/head-logo1.jpg"></img></span>
                        <span>登录</span>
                        <span>注册</span>
                    </div>
                    <span><button id="toss">投稿</button></span>
                </div>
            </div>
            <div id="hiden">
                <div>
                    <div id="hiden-left">
                        <img src="../resource/lunbo1.png">
                        <img src="../resource/lunbo2.png">
                    </div>
                    <div id="hiden-right">
                        <ul>
                            <li>人气漫画</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="hiden3">
                <div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>

                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="head-pic">
            <div><img src="../resource/join-head.png"></div>
        </div>
        <div id="mid">
            <span>登录</span>
        </div>
        <div id="main">
            <div id="main-left">
                <div id="pic2">
                    <img id="img1" src="../resource/join-main-left1.png">
                    <img id="img2" src="../resource/join-main-left2.png">
                </div>
                <div id="word">
                    <p>请使用<a href="#">哔哩哔哩客户端</a>
                        </br>扫码登陆或
                        </br>扫码下载APP</p>
                </div>
            </div>
            <div id="main-right">
                <!-- <form method="POST" id="form" action="/passwordLogin"> -->
                <div id="one">

                    <span id="password-" class="active-">密码登陆</span>
                    <span id="text-">短信登陆</span>
                </div>
                <div id="two">
                    <div id="jointype1">
                        <input type="text" placeholder="你的手机号" class="num" id="Tel">
                        <input type="password" placeholder="密码" class="secret" id="password">
                    </div>
                    <div id="jointype2">
                        <div id="tel">
                            <div id="area">中国大陆</div><input type="text" placeholder="该功能尚未开放，敬请期待" class="num" >
                        </div>
                        <div id="test">
                            <input type="text" placeholder="该功能尚未开放，敬请期待" class="secret" >
                            <div id="gettest">获取验证码</div>
                        </div>
                    </div>
                </div>

                <div id="three">
                    <input type="checkbox">记住我
                    <span><a href="#">无法验证？</a></span>
                    <span><a href="#">忘记密码？</a></span>
                </div>
                <div id="four">
                    <button id="joinin">登录</button>
                    <button id="new"><a href="../views/zhuce.html">注册</a></button>
                </div>
                <!-- </form> -->
                <div id="five">
                    <span id="weibo">微博账号登录</span>
                    <span id="qq"> QQ账号登录</span>
                </div>

            </div>
        </div>
        <div id="footer">
            登录即代表你同意<a href="#">用户协议</a>和<a href="#">隐私政策</a>
        </div>
        <div id="footerr"></div>
    </div>
    <script src="../views/join.js"></script>
</body>

</html>