<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>personal</title>
    <link rel="stylesheet" type="text/css" href="../views/personal.css" />
</head>

<body>
    <div id="all">
        <div id="head">
            <div id="head-nav">
                <div id="head-nav-left">
                    <a href="B.html"> <img id="bilibili" src="../resource/bilibili.png"></a>
                    <span id="zhuzhan">主站ˇ</span>
                    <span>番剧</span>
                    <span>游戏中心</span>
                    <span>直播</span>
                    <span>会员购</span>
                    <span id="cartoon">漫画</span>
                    <span>赛事</span>
                    <span>下载APP</span>
                </div>
                <span id="search">
                    <input type="text" placeholder="search..." id="search-">
                    <input type="button" value="o">
                </span>
                <div id="head-nav-right">
                    <div id="enter">
                        <span><img id="head-logo1" src="../resource/head-logo1.jpg"></img></span>
                        <span>登录</span>
                        <span>注册</span>
                    </div>
                    <span><button id="toss">投稿</button></span>
                </div>
            </div>
            <div id="hiden">
                <div>
                    <div id="hiden-left">
                        <img src="../resource/lunbo1.png">
                        <img src="../resource/lunbo2.png">
                    </div>
                    <div id="hiden-right">
                        <ul>
                            <li>人气漫画</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="hiden3">
                <div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>

                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="mine">
            <div id="myself">
                <div id="headpic"></div>
                <div id="introduce">
                    <div id="name">TYH</div>
                    <input id="inputIntro" type="text" placeholder="编辑个性签名">
                </div>
            </div>
        </div>
        <div id="banner">
            <div id="ban-left">
                <div class="ban">
                    <img src="../resource/personal-logo1.png">
                    <span>主页</span>
                </div>
                <div class="ban">
                    <img src="../resource/personal-logo2.png">
                    <span>动态</span>
                </div>
                <div class="ban">
                    <img src="../resource/personal-logo3.png">
                    <span>投稿</span>
                </div>
                <div class="ban">
                    <img src="../resource/personal-logo4.png">
                    <span>频道</span>
                </div>
                <div class="ban">
                    <img src="../resource/personal-logo5.png">
                    <span>收藏</span>
                </div>
                <div class="ban">
                    <img src="../resource/personal-logo6.png">
                    <span>订阅</span>
                </div>
                <div class="ban">
                    <img src="../resource/personal-logo6.png">
                    <span>设置</span>
                </div>
                <div id="point">
                </div>
            </div>


            <input type="text" placeholder="搜索视频" id="searchTV">
            <div id="ban-right">
                <div id="notice">
                    <span>关注数</span>
                    <span>0</span>
                </div>
                <div id="fans">
                    <span>粉丝数</span>
                    <span>0</span>
                </div>
            </div>
        </div>
        <div id="body">
            <div id="home">
                <div id="home-left">
                    <div id="home-left-a">
                        <span>我的粉丝会看到</span>
                        <span>新访客会看到</span>
                    </div>
                    <div id="home-left-b">
                        <div>+</div>
                        <div><img src="../resource/home-left-b.PNG"></div>
                    </div>
                    <div class="home-left-c">我的视频</div>
                    <div class="home-left-c">我的专栏</div>
                    <div class="home-left-c">我的频道</div>
                    <div class="home-left-c">我的收藏</div>
                    <div class="home-left-c">订阅番剧</div>
                    <div class="home-left-c">最近投币</div>
                    <div class="home-left-c">我的相簿</div>
                </div>

                <div id="home-right">
                    <div id="home-right-a">
                        <span>点此申请bilibili认证</span>
                        <span>获得bilibili认证，享受更多福利</span>
                    </div>
                    <div id="home-right-b">
                        <div>创作中心→</div>
                        <div>
                            <span>视频投稿</span>
                            <span>内容管理</span>
                        </div>
                    </div>
                    <div id="home-right-c">
                        <h3>公告</h3>
                        <textarea rows="4" maxlength="150" placeholder="编辑我的空间公告"></textarea>
                    </div>
                    <div id="home-right-d">

                    </div>
                </div>
            </div>
            <div id="update">

            </div>
        </div>
    </div>

    <script src="../views/personal.js"></script>
</body>

</html>