<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vedio</title>
    <link rel="stylesheet" type="text/css" href="../views/vedio.css" />
</head>

<body>
    <div id="all">
        <div id="head">
            <div id="head-nav">
                <div id="head-nav-left">
                    <a href="B.html"> <img id="bilibili" src="../resource/bilibili.png"></a>
                    <span id="zhuzhan">主站ˇ</span>
                    <span>番剧</span>
                    <span>游戏中心</span>
                    <span>直播</span>
                    <span>会员购</span>
                    <span id="cartoon">漫画</span>
                    <span>赛事</span>
                    <span>下载APP</span>
                </div>
                <span id="search">
                    <input type="text" placeholder="search..." id="search-">
                    <input type="button" value="o">
                </span>
                <div id="head-nav-right">
                    <div id="enter">
                        <span><img id="head-logo1" src="../resource/head-logo1.jpg"></img></span>
                        <span>登录</span>
                        <span>注册</span>
                    </div>
                    <span><button id="toss">投稿</button></span>
                </div>
            </div>
            <div id="hiden">
                <div>
                    <div id="hiden-left">
                        <img src="../resource/lunbo1.png">
                        <img src="../resource/lunbo2.png">
                    </div>
                    <div id="hiden-right">
                        <ul>
                            <li>人气漫画</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="hiden3">
                <div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>

                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="mid">
            <div id="leftpart">
                <div>
                    <div class="h1" id="title">标题</div>
                    <div class="h6">游戏>手机游戏 2020-02-09 12:00:51</div>
                    <div class="h6">0播放·0弹幕</div>
                </div>
                <div id="play">
                    <div id="showDanmu">
                        <div id="show"></div>
                    </div>
                    <video id="vadio" width="638" height="447ve" controls>
                        <source type="video/mp4">
                    </video>
                </div>
                <div id="choose">
                    <span>1人正在观看·1条实时弹幕</span>
                    <div id="danmu">
                        <div>弹</div>
                    </div>
                    <div id="ipt">
                        
                            <input type="text" id="write-danmu" >
                            <input type="submit" id="send-danmu" value="发送">
                        
                    </div>
                </div>
                <div id="mychoose">
                    <div id="caozuo">
                        <div><img src="../resource/agree.png"><span id="zan"> 0 </span></div>
                        <div><img src="../resource/coin.PNG"><span id="coin"> 0 </span></div>
                        <div><img src="../resource/storage.PNG"><span id="storage"> 0 </span></div>
                        <div><img src="../resource/turn.PNG"><span id="turn"> 0 </span></div>
                    </div>
                    <div id="tousu">
                        <span>投诉稿件</span>
                    </div>
                </div>
                <div id="this-intro">
                </div>

                <div id="pinglun">
                    <div class="h1" id="title-pl"><span id="num-pinglun">0</span>评论</div>
                    <div id="my-pl">
                        <div id="my-head"> </div>
                        <div id="my-text"><input type="text" name="mypl" id="write-text"
                                placeholder="请自觉遵守互联网相关政策的法律法规"></div>
                        <input type="submit" id="sub-pl" value="提交">
                    </div>
                    <div id="other-pl">
                        <!-- <div class="other">
                            <div class="other-head"></div>
                            <div class="other-word">123</div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="partright">
                <div id="writer">
                    <div id="writer-inform">
                        <div id="writer-pic"></div>
                        <div id="writer-name" class="h1"></div>

                    </div>
                    <button id="notice">+ 关注</button>
                </div>
                <div id="danmu-list" class='ospan'>
                    <span>弹幕列表...</span>
                    <ul id="danmus">
                        <li>弹幕内容</li>
                        
                    </ul>
                </div>
                <div id="TV" class="ospan">
                    <span>视频选集</span>
                </div>
                <div id="tuijian" class="ospan">
                    <span>相关推荐</span>
                </div>
                <!-- <div id="tuijian">相关推荐
                    <div><img src=""><span>......</span></div>
                </div> -->
            </div>
        </div>
    </div>
    <script src="../views/vedio.js"></script>
</body>

</html>