<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../views/zhuce.css" />
</head>

<body>
    <div id="all">
        <div id="head">
            <div id="head-nav">
                <div id="head-nav-left">
                    <a href="../views/B1.html"> <img id="bilibili" src="../resource/bilibili.png"></a>
                    <span id="zhuzhan">主站ˇ</span>
                    <span>番剧</span>
                    <span>游戏中心</span>
                    <span>直播</span>
                    <span>会员购</span>
                    <span id="cartoon">漫画</span>
                    <span>赛事</span>
                    <span>下载APP</span>
                </div>
                <span id="search">
                    <input type="text" placeholder="search..." id="search-">
                    <input type="button" value="o">
                </span>
                <div id="head-nav-right">
                    <div id="enter">
                        <span><img id="head-logo1" src="../resource/head-logo1.jpg"></img></span>
                        <span>登录</span>
                        <span>注册</span>
                    </div>
                    <span><button id="toss">投稿</button></span>
                </div>
            </div>
            <div id="hiden">
                <div>
                    <div id="hiden-left">
                        <img src="../resource/lunbo1.png">
                        <img src="../resource/lunbo2.png">
                    </div>
                    <div id="hiden-right">
                        <ul>
                            <li>人气漫画</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                            <li>鬼灭之刃</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="hiden3">
                <div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>

                        </ul>
                    </div>
                    <div class="row">
                        <ul>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                            <li class="onerow"><img src="../resource/logo8.png"><a href="#">游戏</a><span>2020</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="head-pic">
            <div><img src="../resource/join-head.png"></div>
        </div>
        <div id="mid">
            <span>注册</span>
        </div>
        <div id="main">
            <!-- <form   id="form">  -->
            <div> <input id="name" type="text" placeholder="昵称" name="name"> <span id="testName" class="cs"></span>
            </div>
            <div><input id="password" type="password" name="password" placeholder="密码(6-16个字符组成，区分大小写"> <span
                    id="testPsw" class="cs"></span></div>

            <div id="T">
                <div id='are'><span id="area">中国大陆</span><input id="tel" name="phone"></div><span class="cs"
                    id="testTel"></span>
            </div>
            <div id="C">
            <div id="test">
                <input type="text" placeholder="验证码功能尚未开放，敬请期待" class="secret" name="test">
                <div id="gettest">获取验证码</div></div>
                <span class="cs" id="yz" ></span>
            </div>


            <div id="check">
                <input type="checkbox">我已同意
                <span><a href="#">《哔哩哔哩弹幕网用户协议》</a>和</span>
                <span><a href="#">《哔哩哔哩隐私政策》</a></span>
            </div>
            <input type="submit" value="注册" id="sub">
            <!-- </form> -->
        </div>
        <div id="footer">there is footer</div>
        <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
        <script src="../views/zhuce.js"></script>
</body>

</html>